.defaultBtn{
    font-family: 'Quicksand';
    width: 113px;
    height: 43px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    border: none;
    border-radius: 2px;
}
.defaultBtn:hover{
    cursor: pointer;
}
