.footer {
    position: relative;
    width: 100%;
    height: 287px;
    background: #fff;
    font-family: 'Quicksand';
    display: flex;
    align-items: flex-start;
    padding: 93px 117px 0 117px;

    .copyright {
        position: absolute;
        left: 258px;
        top: 164px;
        height: 30px;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 0.938rem;
        letter-spacing: 0.05em;
        color: #AEB8D0;

    }
}
@media screen and (max-width: 520px) {
    .footer {
        position: relative;
        max-width: 520px;
        height: 300px;
        flex-wrap: wrap;
        padding: 10px 20px;
    
        .copyright {
            left: 248px;
            top: 160px;
            height: 30px; 
        }
    }
    
}